<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Agregar videojuego al catálogo</title>



	<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous">

	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link
			href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
			rel="stylesheet" />

	<style>
form .invalid-feedback {
	display: block;
}
</style>

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">TodoGamers</a>
		<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/inicio">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/noticias">Noticias</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="/juegos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catálogo
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/juegos">Todos los juegos</a></li>
						<li><a class="dropdown-item" href="/preventas">Preventas</a></li>
						<li><a class="dropdown-item" href="/promociones">Promociones</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/admin">Administrador</a>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button type="button" class="btn btn-outline-primary">Buscar</button>
			</form>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="/login" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Inicio de sesión
				</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="/login">Iniciar sesión</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="/registro">Registrate</a></li>
				</ul>
			</li>
		</div>
	</div>
</nav>



	<div layout:fragment="content">
		<h2>Agregar videojuego al catálogo</h2>
		<br>
		<div th:insert="form :: form">
		</div>
	</div>

</body>
</html>